<app-header2></app-header2>

  <div class="wrapper"> 
    

    <main>
      <div class="main-section">
        <div class="container">
          <div class="main-section-data">
            <div class="row">
              <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                <div class="main-left-sidebar no-margin">
                  <div class="user-data full-width">
                    <div class="user-profile">
                      <div class="username-dt">
                        <div class="usr-pic">
                          <img src="assets/images/background/profilephoto.jpg" alt="">
                        </div>
                      </div><!--username-dt end-->
                      <div class="user-specs">
                        <h3>John Doe</h3>
                        <span>Health Researcher at SMU</span>
                      </div>
                    </div><!--user-profile end-->
                    <ul class="user-fw-status">
                      <li>
                        <h4>Following</h4>
                        <span>340</span>
                      </li>
                      <li>
                        <h4>Followers</h4>
                        <span>1550</span>
                      </li>
                      <li>
                        <a routerLink="/dashboard" title="Dashboard">Dashboard</a>
                      </li>
                    </ul>
                  </div><!--user-data end-->
                  <div class="suggestions full-width">
                    <div class="sd-title">
                      <h3>Information</h3>
                      <i class="la la-ellipsis-v"></i>
                    </div><!--sd-title end-->
                    <div class="suggestions-list">
                      <div class="suggestion-usd">
                        <div class="sgt-text">
                          <h4>Organizations:</h4>
                          <span>Saint Mary's University</span>
                          <br>
                          <span>University of Toronto</span>
                          <br>
                          <span>Canada</span>
                          <br>
                          <span>Faculty of medicine</span>
                        </div>
                        <span><i class="la la-plus"></i></span>
                      </div>
                      <div class="suggestion-usd">
                        <div class="sgt-text">
                          <h4>Education</h4>
                          <span>Saint Mary's University</span>
                        </div>
                        <span><i class="la la-plus"></i></span>
                      </div>
                      <div class="suggestion-usd">
                        <div class="sgt-text">
                          <h4>Honors and Awards</h4>
                          <span>Chair of SMU Faculty of medicine</span>
                        </div>
                        <span><i class="la la-plus"></i></span>
                      </div>
                      <div class="suggestion-usd">
                        <div class="sgt-text">
                          <h4>Areas of interest:</h4>
                          <span>Orthopedic Innovation</span>
                          <br>
                          <span>Foot malformation</span>
                        </div>
                        <span><i class="la la-plus"></i></span>
                      </div>
                      <div class="suggestion-usd">
                        <div class="sgt-text">
                          <h4>Area of expertise</h4>
                          <span>Orthopedic care</span>
                        </div>
                        <span><i class="la la-plus"></i></span>
                      </div>
                      <div class="suggestion-usd">
                        <div class="sgt-text">
                          <button>Upgrade Today!</button>
                        </div>
                        <span><i class="la la-plus"></i></span>
                      </div>
                      <div class="view-more">
                        <a href="#" title="">View More</a>
                      </div>
                    </div><!--suggestions-list end-->
                  </div><!--suggestions end-->
                  
                </div><!--main-left-sidebar end-->
              </div>
              <div class="col-lg-6 col-md-8 no-pd">
                <div class="main-ws-sec">
                  <div class="post-topbar">
                    <input type="text" name="dummy">
  
                    <div class="post-st">
                      <ul>
                        <li><a class="post_project" href="#" title="">Post</a></li>
                      </ul>
                    </div><!--post-st end-->
                  </div><!--post-topbar end-->
                  <div class="posts-section">
                    <div class="post-bar">
                      <div class="post_topbar">
                        <div class="usy-dt">
                          <img src="assets/images/resources/us-pic.png" alt="">
                          <div class="usy-name">
                            <h3>John Doe</h3>
                            <span><img src="assets/images/clock.png" alt="">July 9, 2018 - 10:23 EST</span>
                          </div>
                        </div>
                        <div class="ed-opts">
                          <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                          <ul class="ed-options">
                            <li><a href="#" title="">Edit Post</a></li>
                            <li><a href="#" title="">Unsaved</a></li>
                            <li><a href="#" title="">Unbid</a></li>
                            <li><a href="#" title="">Close</a></li>
                            <li><a href="#" title="">Hide</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="epi-sec">
                        <ul class="descp">
                          <li><img src="assets/images/icon9.png" alt=""><span>Toronto, Canada</span></li>
                        </ul>
                        <ul class="bk-links">
                          <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                          <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
                        </ul>
                      </div>
                      <div class="job_descp">
                        <h3>Athletes foot</h3>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
                        <ul class="skill-tags">
                          <li><a href="#" title="">Foot injury</a></li>
                          <li><a href="#" title="">Treatment</a></li>
                          <li><a href="#" title="">Rehabilitation</a></li>
                          <li><a href="#" title="">Research</a></li>
                          <li><a href="#" title="">Skin Care</a></li>   
                        </ul>
                      </div>
                      <div class="job-status-bar">
                        <ul class="like-com">
                          <li>
                            <a href="#"><i class="fas fa-heart"></i> Like</a>
                            <img src="assets/images/liked-img.png" alt="">
                            <span>25</span>
                          </li> 
                          <li><a href="#" class="com"><i class="fas fa-comment-alt"></i> Comment 15</a></li>
                        </ul>
                        <a href="#"><i class="fas fa-eye"></i>Views 50</a>
                      </div>
                    </div><!--post-bar end-->

                    <div class="post-bar">
                      <div class="post_topbar">
                        <div class="usy-dt">
                          <img src="assets/images/resources/us-pic.png" alt="">
                          <div class="usy-name">
                            <h3>John Doe</h3>
                            <span><img src="assets/images/clock.png" alt="">July 9, 2018 - 10:23 EST</span>
                          </div>
                        </div>
                        <div class="ed-opts">
                          <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                          <ul class="ed-options">
                            <li><a href="#" title="">Edit Post</a></li>
                            <li><a href="#" title="">Unsaved</a></li>
                            <li><a href="#" title="">Unbid</a></li>
                            <li><a href="#" title="">Close</a></li>
                            <li><a href="#" title="">Hide</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="epi-sec">
                        <ul class="descp">
                          <li><img src="assets/images/icon9.png" alt=""><span>Toronto, Canada</span></li>
                        </ul>
                        <ul class="bk-links">
                          <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                          <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
                          
                        </ul>
                      </div>
                      <div class="job_descp">
                        <h3>Faulty runner's gait</h3>
                        <ul class="job-dt">
                          
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
                        <ul class="skill-tags">
                          <li><a href="#" title="">Foot injury</a></li>
                          <li><a href="#" title="">Treatment</a></li>
                          <li><a href="#" title="">Rehabilitation</a></li>
                          <li><a href="#" title="">Research</a></li>
                          <li><a href="#" title="">Skin Care</a></li>    
                        </ul>
                      </div>
                      <div class="job-status-bar">
                        <ul class="like-com">
                          <li>
                            <a href="#"><i class="fas fa-heart"></i> Like</a>
                            <img src="assets/images/liked-img.png" alt="">
                            <span>25</span>
                          </li> 
                          <li><a href="#" class="com"><i class="fas fa-comment-alt"></i> Comment 15</a></li>
                        </ul>
                        <a href="#"><i class="fas fa-eye"></i>Views 50</a>
                      </div>
                    </div><!--post-bar end-->
                    <div class="posty">
                      <div class="post-bar no-margin">
                        <div class="post_topbar">
                          <div class="usy-dt">
                            <img src="assets/images/resources/us-pc2.png" alt="">
                            <div class="usy-name">
                              <h3>John Doe</h3>
                              <span><img src="assets/images/clock.png" alt="">November 30, 2017 - 10:00 EST</span>
                            </div>
                          </div>
                          <div class="ed-opts">
                            <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                            <ul class="ed-options">
                              <li><a href="#" title="">Edit Post</a></li>
                              <li><a href="#" title="">Unsaved</a></li>
                              <li><a href="#" title="">Unbid</a></li>
                              <li><a href="#" title="">Close</a></li>
                              <li><a href="#" title="">Hide</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="epi-sec">
                          <ul class="descp">
                            <li><img src="assets/images/icon9.png" alt=""><span>Halifax, Canada</span></li>
                          </ul>
                          <ul class="bk-links">
                            <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                            <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
                          </ul>
                        </div>
                        <div class="job_descp">
                          <h3>Bad posture from faulty gait</h3>
                          
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
                          <ul class="skill-tags">
                            <li><a href="#" title="">Posture</a></li>
                            <li><a href="#" title="">Gait</a></li>
                            <li><a href="#" title="">Spine</a></li>
                            <li><a href="#" title="">Ahtletes</a></li>
                            <li><a href="#" title="">Health</a></li>   
                          </ul>
                        </div>
                        <div class="job-status-bar">
                          <ul class="like-com">
                            <li>
                              <a href="#"><i class="fas fa-heart"></i> Like</a>
                              <img src="assets/images/liked-img.png" alt="">
                              <span>25</span>
                            </li> 
                            <li><a href="#" class="com"><i class="fas fa-comment-alt"></i> Comment 15</a></li>
                          </ul>
                          <a href="#"><i class="fas fa-eye"></i>Views 50</a>
                        </div>
                      </div><!--post-bar end-->
                      <div class="comment-section">
                        <a href="#" class="plus-ic">
                          <i class="la la-plus"></i>
                        </a>
                        <div class="comment-sec">
                          <ul>
                            <li>
                              <div class="comment-list">
                                <div class="bg-img">
                                  <img src="assets/images/resources/bg-img1.png" alt="">
                                </div>
                                <div class="comment">
                                  <h3>John Doe</h3>
                                  <span><img src="assets/images/clock.png" alt=""> 3 min ago</span>
                                  <p>Lorem ipsum dolor sit amet, </p>
                                  <a href="#" title="" class="active"><i class="fa fa-reply-all"></i>Reply</a>
                                </div>
                              </div><!--comment-list end-->
                              <ul>
                                <li>
                                  <div class="comment-list">
                                    <div class="bg-img">
                                      <img src="assets/images/resources/bg-img2.png" alt="">
                                    </div>
                                    <div class="comment">
                                      <h3>John Doe</h3>
                                      <span><img src="assets/images/clock.png" alt=""> 3 min ago</span>
                                      <p>Hi John </p>
                                      <a href="#" title=""><i class="fa fa-reply-all"></i>Reply</a>
                                    </div>
                                  </div><!--comment-list end-->
                                </li>
                              </ul>
                            </li>
                            <li>
                              <div class="comment-list">
                                <div class="bg-img">
                                  <img src="assets/images/resources/bg-img3.png" alt="">
                                </div>
                                <div class="comment">
                                  <h3>John Doe</h3>
                                  <span><img src="assets/images/clock.png" alt=""> 3 min ago</span>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at.</p>
                                  <a href="#" title=""><i class="fa fa-reply-all"></i>Reply</a>
                                </div>
                              </div><!--comment-list end-->
                            </li>
                          </ul>
                        </div><!--comment-sec end-->
                        <div class="post-comment">
                          
                          <div class="comment_box">
                            <form>
                              <input type="text" placeholder="Post a comment">
                              <button type="submit">Send</button>
                            </form>
                          </div>
                        </div><!--post-comment end-->
                      </div><!--comment-section end-->
                    </div><!--posty end-->
                    <div class="process-comm">
                      <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                      </div>
                    </div><!--process-comm end-->
                  </div><!--posts-section end-->
                </div><!--main-ws-sec end-->
              </div>
              
  </div><!--theme-layout end-->



